{
  "openapi": "3.1.0",
  "info": {
    "title": "Loom control API",
    "version": "1.0.0",
    "summary": "Renter-facing control surface for the Loom compute platform.",
    "description": "The committed target contract for the `loom` CLI and SDKs, frozen after PR-04 and evolved additively only (renter-api.md §6). This file is the source of truth the OpenAPI diff gate compares generated handlers against once they exist (enforcing at PR-11); until then it is hand-authored and structurally validated by `cargo xtask codegen --check`. Scope here is the Phase-1 golden path: auth, job submit/get/list, log streaming, dataset push refs, and deploy. Errors use RFC 9457 problem+json with a stable `code` taxonomy (renter-api.md §1.5).",
    "license": { "name": "Apache-2.0", "identifier": "Apache-2.0" }
  },
  "servers": [
    { "url": "https://api.loom.dev/v1", "description": "Loom control API (versioned by Loom)." },
    { "url": "http://127.0.0.1:7777/v1", "description": "Standalone self-host loopback (loomd default)." }
  ],
  "tags": [
    { "name": "account", "description": "Caller identity and account status." },
    { "name": "jobs", "description": "Job submission, status, logs, and lifecycle." },
    { "name": "datasets", "description": "Dataset push refs: create, version, commit." },
    { "name": "deployments", "description": "OpenAI-compatible serving deployments." }
  ],
  "paths": {
    "/v1/account": {
      "get": {
        "operationId": "getAccount",
        "tags": ["account"],
        "summary": "Get the caller's account and resolved key identity.",
        "description": "Powers `loom auth whoami` / `status`. Requires any valid key; in the standalone profile the single local admin token resolves here (renter-api.md §3.9).",
        "responses": {
          "200": {
            "description": "The caller's account.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Account" },
                "example": {
                  "id": "acct_01J9",
                  "profile": "standalone",
                  "key": { "id": "key_local_admin", "name": "local-admin", "scopes": ["admin"] }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/jobs": {
      "post": {
        "operationId": "createJob",
        "tags": ["jobs"],
        "summary": "Submit a job (or fan-out job group).",
        "description": "A `gpu` list produces a job group of N children, one per class (renter-api.md §3.1). `recipe` XOR `image`. A balance hold is placed at submit; `Idempotency-Key` makes retries exactly-once for 24h (§1.3).",
        "parameters": [
          { "$ref": "#/components/parameters/IdempotencyKey" },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "description": "Return the estimate + validation result with no hold and no resource created.",
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/JobSpec" },
              "example": {
                "recipe": "qlora-sft",
                "recipe_config": { "base": "hf:meta-llama/Llama-3.1-8B", "epochs": 3, "lora_r": 16 },
                "gpu": ["rtx4090", "rtx5090"],
                "resource_claim": { "gpus": 1, "min_vram_mb": 24000, "min_driver": "550" },
                "isolation_tier": "B",
                "max_price_per_hour": 400000,
                "max_duration_s": 21600,
                "on_no_capacity": "queue",
                "data": ["ds:my-sft@v1"],
                "checkpoint_policy": { "enabled": true, "interval_s": 900, "keep_last": 3 }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created job group (single-child if `gpu` was a string).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JobGroup" }
              }
            }
          },
          "402": {
            "description": "Insufficient balance or a spend cap would be breached.",
            "content": {
              "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } }
            }
          },
          "409": {
            "description": "No capacity or price ceiling unmet (queueable, not a hard failure).",
            "content": {
              "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } }
            }
          },
          "422": { "$ref": "#/components/responses/ValidationFailed" }
        }
      },
      "get": {
        "operationId": "listJobs",
        "tags": ["jobs"],
        "summary": "List jobs, newest first.",
        "description": "Cursor-paginated (renter-api.md §1.4). Repeated `state` params mean OR.",
        "parameters": [
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Cursor" },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Filter by job state; repeat for OR.",
            "schema": { "$ref": "#/components/schemas/JobState" }
          },
          {
            "name": "gpu",
            "in": "query",
            "required": false,
            "description": "Filter by GPU class.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of jobs.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/JobList" } }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/jobs/{id}": {
      "get": {
        "operationId": "getJob",
        "tags": ["jobs"],
        "summary": "Job status: attempt history + live cost.",
        "parameters": [ { "$ref": "#/components/parameters/JobId" } ],
        "responses": {
          "200": {
            "description": "The job with attempt history and live cost.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Job" } }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/jobs/{id}/logs": {
      "get": {
        "operationId": "streamJobLogs",
        "tags": ["jobs"],
        "summary": "SSE log stream with a resume token.",
        "description": "`Accept: text/event-stream`. Each event carries a monotonic `id:` usable as a resume token; reconnect with `Last-Event-ID` or `?since=` to replay from the next line (renter-api.md §3.2). Event types: `log`, `status`, `cost`, `attempt`, `done`.",
        "parameters": [
          { "$ref": "#/components/parameters/JobId" },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Resume token; replay from the event after this id. `0` replays full history.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "An SSE stream of log/status/cost/attempt/done events.",
            "content": {
              "text/event-stream": {
                "schema": { "type": "string" },
                "example": "id: 4212\nevent: log\ndata: {\"ts\":\"2026-07-11T00:00:00Z\",\"attempt_no\":1,\"stream\":\"stdout\",\"line\":\"hi\"}\n\nid: 4213\nevent: done\ndata: {\"state\":\"succeeded\"}\n\n"
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/jobs/{id}/cancel": {
      "post": {
        "operationId": "cancelJob",
        "tags": ["jobs"],
        "summary": "Cancel a job from any non-terminal state.",
        "parameters": [ { "$ref": "#/components/parameters/JobId" } ],
        "responses": {
          "202": {
            "description": "Cancellation accepted; the job transitions to `cancelled`.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Job" }
              }
            }
          },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/v1/datasets": {
      "post": {
        "operationId": "createDataset",
        "tags": ["datasets"],
        "summary": "Create a dataset (name to id).",
        "parameters": [ { "$ref": "#/components/parameters/IdempotencyKey" } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateDatasetRequest" },
              "example": { "name": "my-sft" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created dataset.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Dataset" } }
            }
          },
          "422": { "$ref": "#/components/responses/ValidationFailed" }
        }
      }
    },
    "/v1/datasets/{id}/versions": {
      "post": {
        "operationId": "beginDatasetVersion",
        "tags": ["datasets"],
        "summary": "Begin a version; returns presigned multipart PUT targets for the missing chunks.",
        "description": "The push flow is create version to presigned PUTs to commit. The response returns only chunks not already in the store, deduped by hash (renter-api.md §3.3).",
        "parameters": [ { "$ref": "#/components/parameters/DatasetId" } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BeginVersionRequest" },
              "example": {
                "name": "my-sft:v1",
                "chunks": [
                  { "hash": "sha256:9f3c", "size": 4194304 },
                  { "hash": "sha256:1a2b", "size": 3010112 }
                ],
                "meta": { "schema": "jsonl", "rows": 41207 }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Upload targets for the missing chunks and the already-present set.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/BeginVersionResponse" } }
            }
          },
          "422": { "$ref": "#/components/responses/ValidationFailed" }
        }
      }
    },
    "/v1/datasets/{id}/versions/{vid}/commit": {
      "post": {
        "operationId": "commitDatasetVersion",
        "tags": ["datasets"],
        "summary": "Commit the manifest (Merkle root) into an immutable, hash-addressed version.",
        "description": "The server revalidates chunk presence + hash tree; a mismatch returns `manifest_invalid` (renter-api.md §3.3).",
        "parameters": [
          { "$ref": "#/components/parameters/DatasetId" },
          { "$ref": "#/components/parameters/VersionId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CommitVersionRequest" },
              "example": { "manifest_root": "sha256:abcd" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The committed, immutable dataset version.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/DatasetVersion" } }
            }
          },
          "422": {
            "description": "Manifest hash/schema mismatch on commit.",
            "content": {
              "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } }
            }
          }
        }
      }
    },
    "/v1/deployments": {
      "post": {
        "operationId": "createDeployment",
        "tags": ["deployments"],
        "summary": "Create an OpenAI-compatible endpoint.",
        "description": "The `loom deploy` surface (renter-api.md §3.5). `model` is one of `hf:` / `ckpt:` / `adapter:`; adapter refs require `base`.",
        "parameters": [ { "$ref": "#/components/parameters/IdempotencyKey" } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateDeploymentRequest" },
              "example": {
                "name": "my-model",
                "model": "adapter:my-sft-run-3f2a",
                "base": "hf:meta-llama/Llama-3.1-8B",
                "engine": { "kind": "vllm", "quant": "awq" },
                "keep_warm": { "min_replicas": 1 },
                "autoscale": { "min_replicas": 0, "max_replicas": 8, "ttft_target_ms": 800 },
                "privacy": "standard"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created deployment (warming).",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Deployment" } }
            }
          },
          "409": {
            "description": "Strict privacy requested with no Tier C capacity (`privacy_unavailable`).",
            "content": {
              "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } }
            }
          },
          "422": {
            "description": "Model/adapter ref cannot be resolved (`model_unavailable`).",
            "content": {
              "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } }
            }
          }
        }
      }
    },
    "/v1/deployments/{id}": {
      "get": {
        "operationId": "getDeployment",
        "tags": ["deployments"],
        "summary": "Deployment state, health, live QPS, replica count.",
        "parameters": [ { "$ref": "#/components/parameters/DeploymentId" } ],
        "responses": {
          "200": {
            "description": "The deployment. Replica identities are opaque to the renter.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Deployment" } }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "`Authorization: Bearer loom_sk_...`, or the single local admin token in the standalone profile."
      }
    },
    "parameters": {
      "JobId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Opaque job id (`job_...`).",
        "schema": { "type": "string" }
      },
      "DatasetId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Opaque dataset id (`ds_...`).",
        "schema": { "type": "string" }
      },
      "VersionId": {
        "name": "vid",
        "in": "path",
        "required": true,
        "description": "Opaque dataset version id (`dsv_...`).",
        "schema": { "type": "string" }
      },
      "DeploymentId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Opaque deployment id (`dep_...`).",
        "schema": { "type": "string" }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Page size; defaults to 50, caps at 200.",
        "schema": { "type": "integer", "minimum": 1, "maximum": 200, "default": 50 }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "description": "Opaque, forward-only pagination cursor.",
        "schema": { "type": "string" }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Client UUID; a retry with the same key returns the original response for 24h (renter-api.md §1.3).",
        "schema": { "type": "string", "format": "uuid" }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid key.",
        "content": {
          "application/problem+json": {
            "schema": { "$ref": "#/components/schemas/Problem" },
            "example": {
              "type": "https://docs.loom.dev/errors/unauthenticated",
              "title": "Missing or invalid credentials",
              "status": 401,
              "code": "unauthenticated",
              "instance": "/v1/account"
            }
          }
        }
      },
      "NotFound": {
        "description": "No such resource, or not owned by this account.",
        "content": {
          "application/problem+json": {
            "schema": { "$ref": "#/components/schemas/Problem" },
            "example": {
              "type": "https://docs.loom.dev/errors/not_found",
              "title": "Resource not found",
              "status": 404,
              "code": "not_found"
            }
          }
        }
      },
      "ValidationFailed": {
        "description": "Malformed request; `meta.errors[]` lists field paths.",
        "content": {
          "application/problem+json": {
            "schema": { "$ref": "#/components/schemas/Problem" },
            "example": {
              "type": "https://docs.loom.dev/errors/validation_failed",
              "title": "Request validation failed",
              "status": 422,
              "code": "validation_failed",
              "meta": { "errors": ["/gpu"] }
            }
          }
        }
      },
      "Conflict": {
        "description": "State conflict (e.g. cancel a terminal job).",
        "content": {
          "application/problem+json": {
            "schema": { "$ref": "#/components/schemas/Problem" },
            "example": {
              "type": "https://docs.loom.dev/errors/conflict",
              "title": "State conflict",
              "status": 409,
              "code": "conflict"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorCode": {
        "type": "string",
        "description": "Closed, additively-extended error-code taxonomy (renter-api.md §1.5). Clients branch on this, never on HTTP status or `detail` prose, and must tolerate unknown codes.",
        "enum": [
          "unauthenticated",
          "insufficient_scope",
          "not_found",
          "idempotency_key_reused",
          "validation_failed",
          "manifest_invalid",
          "image_unknown",
          "recipe_unknown",
          "model_unavailable",
          "price_ceiling_unmet",
          "no_capacity",
          "quota_exceeded",
          "rate_limited",
          "insufficient_balance",
          "spend_cap_exceeded",
          "privacy_unavailable",
          "conflict",
          "internal"
        ]
      },
      "Problem": {
        "type": "object",
        "description": "RFC 9457 problem+json error object, served as `application/problem+json`.",
        "required": ["type", "title", "status", "code"],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "A URI reference identifying the problem type."
          },
          "title": { "type": "string", "description": "Short, human-readable summary." },
          "status": {
            "type": "integer",
            "description": "HTTP status code, duplicated for out-of-band consumers.",
            "minimum": 100,
            "maximum": 599
          },
          "code": { "$ref": "#/components/schemas/ErrorCode" },
          "detail": { "type": "string", "description": "Human-readable explanation for this occurrence." },
          "instance": { "type": "string", "description": "URI reference for this specific occurrence." },
          "request_id": { "type": "string", "description": "Correlates with server logs (`req_...`)." },
          "meta": {
            "type": "object",
            "description": "Machine-readable, code-specific detail (e.g. `errors[]`, `lowest_ask_micro_usd_per_hr`).",
            "additionalProperties": true
          }
        }
      },
      "Account": {
        "type": "object",
        "required": ["id", "profile", "key"],
        "properties": {
          "id": { "type": "string" },
          "profile": {
            "type": "string",
            "enum": ["standalone", "fleet", "hosted"],
            "description": "Deployment profile; `standalone` carries one implicit-admin token."
          },
          "key": {
            "type": "object",
            "required": ["id", "scopes"],
            "properties": {
              "id": { "type": "string" },
              "name": { "type": "string" },
              "scopes": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": ["jobs:write", "data:write", "deploy:write", "billing:read", "admin"]
                }
              }
            }
          }
        }
      },
      "JobState": {
        "type": "string",
        "description": "Control-plane job state (control-plane.md §3).",
        "enum": ["submitted", "queued", "scheduled", "running", "succeeded", "failed", "cancelled"]
      },
      "ResourceClaim": {
        "type": "object",
        "description": "The minimum hardware the job needs.",
        "properties": {
          "gpus": { "type": "integer", "minimum": 0 },
          "min_vram_mb": { "type": "integer", "minimum": 0 },
          "min_driver": { "type": "string" }
        }
      },
      "CheckpointPolicy": {
        "type": "object",
        "description": "loom-ckpt policy; on by default for recipes.",
        "properties": {
          "enabled": { "type": "boolean", "default": true },
          "interval_s": { "type": "integer", "minimum": 1 },
          "keep_last": { "type": "integer", "minimum": 1 }
        }
      },
      "SealedSecretRef": {
        "type": "object",
        "description": "A handle to a sealed secret; plaintext never appears in a manifest, log, or heartbeat.",
        "required": ["sealed_secret"],
        "properties": { "sealed_secret": { "type": "string" } }
      },
      "JobSpec": {
        "type": "object",
        "description": "image-or-recipe + resource claim + isolation tier + max price. `recipe` XOR `image`; a `gpu` list produces a job group.",
        "properties": {
          "recipe": { "type": "string", "description": "Read-only catalog recipe (XOR `image`). Unknown -> `recipe_unknown`." },
          "recipe_config": { "type": "object", "additionalProperties": true },
          "image": { "type": "string", "description": "Content-addressed curated image digest (XOR `recipe`). Unresolvable -> `image_unknown`." },
          "command": { "type": "array", "items": { "type": "string" }, "description": "Argv for the `loom run` escape hatch." },
          "gpu": {
            "description": "A single class (one job) or a list (a job group, one child per class).",
            "oneOf": [
              { "type": "string" },
              { "type": "array", "items": { "type": "string" } }
            ]
          },
          "resource_claim": { "$ref": "#/components/schemas/ResourceClaim" },
          "isolation_tier": { "type": "string", "enum": ["B", "A", "C"] },
          "trust_tier": { "type": "string", "enum": ["B", "A", "C"], "description": "Reserved; mirrors `isolation_tier` today." },
          "max_price_per_hour": { "type": "integer", "minimum": 0, "description": "micro-USD ceiling; the scheduler filters on it." },
          "max_duration_s": { "type": "integer", "minimum": 1 },
          "region_pref": { "type": "string" },
          "on_no_capacity": { "type": "string", "enum": ["queue", "fail"], "default": "queue" },
          "data": { "type": "array", "items": { "type": "string" }, "description": "Dataset version refs (`ds:name@vN`)." },
          "env": {
            "type": "object",
            "description": "Environment; secret values are sealed-secret handles, never plaintext.",
            "additionalProperties": {
              "oneOf": [
                { "type": "string" },
                { "$ref": "#/components/schemas/SealedSecretRef" }
              ]
            }
          },
          "checkpoint_policy": { "$ref": "#/components/schemas/CheckpointPolicy" }
        }
      },
      "Estimate": {
        "type": "object",
        "description": "Cost estimate returned before the job starts (renter-api.md §3.1).",
        "properties": {
          "gpu_hours_low": { "type": "number" },
          "gpu_hours_high": { "type": "number" },
          "cost_micro_usd_low": { "type": "integer" },
          "cost_micro_usd_high": { "type": "integer" }
        }
      },
      "JobGroupChild": {
        "type": "object",
        "required": ["id", "state"],
        "properties": {
          "id": { "type": "string" },
          "gpu": { "type": "string" },
          "state": { "$ref": "#/components/schemas/JobState" }
        }
      },
      "JobGroup": {
        "type": "object",
        "required": ["id", "kind", "children"],
        "properties": {
          "id": { "type": "string" },
          "kind": { "type": "string", "enum": ["job_group"] },
          "children": { "type": "array", "items": { "$ref": "#/components/schemas/JobGroupChild" } },
          "estimate": { "$ref": "#/components/schemas/Estimate" }
        }
      },
      "JobCost": {
        "type": "object",
        "description": "Live cost; money is integer micro-USD.",
        "properties": {
          "accrued_micro_usd": { "type": "integer" },
          "held_micro_usd": { "type": "integer" },
          "billable_seconds": { "type": "integer" }
        }
      },
      "Attempt": {
        "type": "object",
        "description": "The retry unit; the host that ran an attempt is never surfaced (privacy symmetry).",
        "required": ["attempt_no", "state"],
        "properties": {
          "attempt_no": { "type": "integer", "minimum": 1 },
          "state": { "type": "string", "enum": ["running", "lost", "succeeded", "failed", "cancelled"] },
          "exit_reason": {
            "type": "string",
            "enum": ["host_offline", "owner_ejected", "oom", "nonzero_exit", "cancelled", "preempted"]
          },
          "started_at": { "type": "string", "format": "date-time" },
          "ended_at": { "type": "string", "format": "date-time" },
          "billable_seconds": { "type": "integer" },
          "start_checkpoint": { "type": ["string", "null"] },
          "end_checkpoint": { "type": ["string", "null"] }
        }
      },
      "Job": {
        "type": "object",
        "required": ["id", "state"],
        "properties": {
          "id": { "type": "string" },
          "group_id": { "type": "string" },
          "state": { "$ref": "#/components/schemas/JobState" },
          "gpu": { "type": "string" },
          "isolation_tier": { "type": "string", "enum": ["B", "A", "C"] },
          "cost": { "$ref": "#/components/schemas/JobCost" },
          "attempts": { "type": "array", "items": { "$ref": "#/components/schemas/Attempt" } },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "JobList": {
        "type": "object",
        "description": "Cursor-paginated list envelope (renter-api.md §1.4).",
        "required": ["data", "has_more"],
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Job" } },
          "next_cursor": { "type": ["string", "null"] },
          "has_more": { "type": "boolean" }
        }
      },
      "CreateDatasetRequest": {
        "type": "object",
        "required": ["name"],
        "properties": { "name": { "type": "string" } }
      },
      "Dataset": {
        "type": "object",
        "required": ["id", "name"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "DatasetChunk": {
        "type": "object",
        "required": ["hash", "size"],
        "properties": {
          "hash": { "type": "string", "description": "Content hash (`sha256:...`)." },
          "size": { "type": "integer", "minimum": 0 }
        }
      },
      "BeginVersionRequest": {
        "type": "object",
        "required": ["name", "chunks"],
        "properties": {
          "name": { "type": "string" },
          "chunks": { "type": "array", "items": { "$ref": "#/components/schemas/DatasetChunk" } },
          "meta": { "type": "object", "additionalProperties": true }
        }
      },
      "UploadPart": {
        "type": "object",
        "required": ["part_no", "url"],
        "properties": {
          "part_no": { "type": "integer", "minimum": 1 },
          "url": { "type": "string", "format": "uri" }
        }
      },
      "ChunkUpload": {
        "type": "object",
        "required": ["hash", "parts"],
        "properties": {
          "hash": { "type": "string" },
          "parts": { "type": "array", "items": { "$ref": "#/components/schemas/UploadPart" } }
        }
      },
      "BeginVersionResponse": {
        "type": "object",
        "description": "Presigned targets for missing chunks + the already-present set (dedup by hash).",
        "required": ["version_id", "upload", "already_present"],
        "properties": {
          "version_id": { "type": "string" },
          "upload": { "type": "array", "items": { "$ref": "#/components/schemas/ChunkUpload" } },
          "already_present": { "type": "array", "items": { "type": "string" } }
        }
      },
      "CommitVersionRequest": {
        "type": "object",
        "required": ["manifest_root"],
        "properties": {
          "manifest_root": { "type": "string", "description": "Merkle root over the chunk hash tree." }
        }
      },
      "DatasetVersion": {
        "type": "object",
        "description": "An immutable, hash-addressed dataset version.",
        "required": ["version_id", "ref", "manifest_root", "immutable"],
        "properties": {
          "version_id": { "type": "string" },
          "ref": { "type": "string", "description": "Stable ref (`ds:name@vN`)." },
          "manifest_root": { "type": "string" },
          "immutable": { "type": "boolean", "const": true }
        }
      },
      "DeploymentEngine": {
        "type": "object",
        "properties": {
          "kind": { "type": "string", "enum": ["vllm", "mlx"] },
          "quant": { "type": "string" },
          "enforce_eager": { "type": "boolean" }
        }
      },
      "KeepWarm": {
        "type": "object",
        "properties": { "min_replicas": { "type": "integer", "minimum": 0 } }
      },
      "Autoscale": {
        "type": "object",
        "properties": {
          "min_replicas": { "type": "integer", "minimum": 0 },
          "max_replicas": { "type": "integer", "minimum": 0 },
          "ttft_target_ms": { "type": "integer", "minimum": 0 }
        }
      },
      "CreateDeploymentRequest": {
        "type": "object",
        "required": ["name", "model"],
        "properties": {
          "name": { "type": "string" },
          "model": { "type": "string", "description": "`hf:` | `ckpt:` | `adapter:`. Adapter refs require `base`." },
          "base": { "type": "string" },
          "engine": { "$ref": "#/components/schemas/DeploymentEngine" },
          "keep_warm": { "$ref": "#/components/schemas/KeepWarm" },
          "autoscale": { "$ref": "#/components/schemas/Autoscale" },
          "privacy": { "type": "string", "enum": ["standard", "strict"], "default": "standard" }
        }
      },
      "DeploymentEndpoint": {
        "type": "object",
        "properties": {
          "base_url": { "type": "string", "format": "uri" },
          "model": { "type": "string" }
        }
      },
      "ReplicaCounts": {
        "type": "object",
        "description": "Opaque replica counts; no host or replica address is exposed.",
        "properties": {
          "desired": { "type": "integer", "minimum": 0 },
          "ready": { "type": "integer", "minimum": 0 }
        }
      },
      "Deployment": {
        "type": "object",
        "required": ["id", "name", "state"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "state": { "type": "string", "enum": ["warming", "cold", "ready", "unhealthy", "terminating"] },
          "endpoint": { "$ref": "#/components/schemas/DeploymentEndpoint" },
          "replicas": { "$ref": "#/components/schemas/ReplicaCounts" },
          "live_qps": { "type": "number" },
          "health": { "type": "string" }
        }
      }
    }
  },
  "security": [ { "bearerAuth": [] } ]
}
